@media screen and (max-width: 1200px) {
	.header{
		&__content{
			&-item{
				font-size: 40px;
			}
		}
	}
	.man__text{
		font-size: 25px;
	}
}

@media screen and (max-width: 962px) {
	.header{
		&__content{
			&-item{
				font-size: 30px;
			}
		}
	}
	.man__text{
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	.man__img{
		display: none;
	}

	.man__content{
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.header{

		&__logo{
			font-size: 70px;
		}

		&__content{
			&-item{
				font-size: 30px;
			}
		}

		&__img{
			height: 65%;
			width: auto;
		}
	}

	.product__img, .form__img{
		width: 65%;
		height: auto;
	}

	.product__item{
		img{
			width: 70px;
			height: auto;
		}
	}

	.product__item-circle{
		width: 150px;
		height: 150px;
	}

	.form__price{
		font-size: 80px;
		&-old{
			font-size: 30px;
			&::before{
				width: 35%;
			}
		}
	}

	.form__form input{
		font-size: 30px;
	}
}

@media screen and (max-width: 732px){
	.header__content-item{
		font-size: 25px;
	}
}

@media screen and (max-width: 612px){

	.btn{
		width: 200px;
	}

	.header{
		&__img{
			display: none;

		}
		&__content{
			display: block;
		}
	}

	.man__list{
		padding: 0;
	}
}



@media screen and (max-width: 595px) {
	// PRODUCT
	.product__container{
		display: flex;
		flex-direction: column;
	}

	.product__left, .product__right{
		display: none;
	}

	.product__content{
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.product__list {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 0;
		margin-top: 50px;
		&-mob{
			display: block;
		}
	}

	.product__item {
		text-align: center;
		
		&-circle {
			width: 150px;
			height: 150px;
			margin: 0 auto;
		}

		&-text {
			margin-top: 15px;
		}
	}

	// MAN
	.man__item{
		font-size: 20px;
		font-weight: 400;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 10px 25px;
	}

}

@media screen and (max-width: 375px) {

	*{
		font-size: 14px;
	}

	.btn{
		width: 150px;
		padding: 10px 0;
	}


	[class*="__title"] {
		font-size: 40px;
	}

	// HEADER
	.header{

		&__logo{
			font-size: 50px;
		}

		&__content{
			&-item{
				font-size: 20px;
			}
		}
	}

	// PRODUCT
	.product__img, .form__img{
		width: 45%;
		height: auto;
	}

	.product__item{
		img{
			width: 50px;
			height: auto;
		}
	}

	.product__item-circle{
		width: 100px;
		height: 100px;
	}

	.product__item-text{
		margin-top: 10px;
	}

	// MAN

	.man__item{
		font-size: 15px;
		font-weight: 400;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 10px 25px;
	}

	// FORM

	.form__time{
		font-size: 24px;
		margin-top: 5px;
	}

	.form__content{
		margin-top: 10px;
	}

	.form__price{
		font-size: 40px;
		&-old{
			font-size: 15px;
			&::before{
				width: 25%;
				border-bottom: 1px solid black;
				margin-top: .1px;
			}
		}
	}

	.form__form input{
		font-size: 15px;
	}
}

